<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAple_App">

        <!-- UI Main -->
        <activity android:name=".ui.main.SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" android:exported="true" />
        <activity android:name=".ui.main.ProfileActivity" android:exported="false" />

        <!-- UI AUTH -->
        <activity android:name=".ui.auth.RegisterActivity" android:exported="false" />

        <!-- UI CATALOG -->
        <activity android:name=".ui.catalog.CatalogActivity" android:exported="false" />
        <activity android:name=".ui.catalog.ProductDetailActivity" android:exported="false" />

        <!-- UI CART -->
        <activity android:name=".ui.cart.CartActivity" android:exported="false" />
        <activity android:name=".ui.cart.PaymentActivity" android:exported="false" />

        <!-- UI ADMIN -->
        <activity android:name=".ui.admin.AdminDashboardActivity" android:exported="false" />
        <activity android:name=".ui.admin.AdminStockActivity" android:exported="false" />
        <activity android:name=".ui.admin.AdminUserActivity" android:exported="false" />
        <activity android:name=".ui.admin.AdminProductDetailActivity" android:exported="false" />

        <!-- UI SELLER -->
        <activity android:name=".ui.seller.SellerDashboardActivity" android:exported="false" />

    </application>

</manifest>